@colcon:#3F51B5;
@colo:average(@colcon,#FFFFFF);
@cont:contrast(@colo);
.mixi(){
	background-color:@colo;
	color:@cont;
	border-radius: 5px 10px;
}
body{
	background-color:@colcon;
}

nav,#letra{
  background-color: transparent;
  z-index:auto;
	font-family:Courier New;
	font-size: 20px;
	font-weight: bold;
	#home{
		font-size:30px;
	}
}
#navi{
	border-radius: 5px 10px;
	color:@colcon;
}
#Uni,#Ase,#pop{
	.mixi();
	font-size:13pt;
}
#cont,#cont2{
	font-family:"Liberation Mono";
}
#popi{
	margin-right:20px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:20px;
}
#pop{
	text-align:center;
	height:100%;
	widht:100%;
	color:@colcon;
}

#prim{
	.mixi();
}
#col{
	border-radius: 10px 10px;
	background-color:@cont;
	color:@colcon;
}
#col{
	font-size:30pt;
}
.mau{
	border-radius: 10px 10px;
	color:@cont;
	font-size:14pt;
}
.miu{
	border-radius: 10px 10px;
	background-color:@colcon;
	color:@cont;
}
.label{
  background-color: #FFC107;
}


#diva
{

	border-radius:25px;
}
#Titulo
{
	text-align:center;
}
#plana
{
	margin:auto;
}
.affix
{
 top: 0;
 width: 100%;
 z-index:10;
}
footer
{
 background-color:#303F9F;
 color: #ffffff;
 padding: 64px;

}
